*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white:#F6F4E8;
    --lightGreen:#BACEC1;
    --orange: #E59560;
    --green: #1D3124;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-bar {
    background-color: var(--lightGreen);
    color: var(--white);
    padding: 10px;
    text-align: center;
}

.address,
.email {
    margin: 0;
}