*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white:#F6F4E8;
    --lightGreen:#BACEC1;
    --orange: #E59560;
    --green: #1D3124;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header styling */
.top-header{
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    width: 100vw;
    padding: 15px;
}

.email a{
    text-decoration: none;
    color: var(--green);
    width: 102%;

    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone a{
    text-decoration: none;
    color: var(--green);

    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.phone svg{
    margin-right: 8px;
}
.bottom-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    padding-left: 60px;
}

.logo{
    font-size: 42px;
    font-style: italic;
    font-weight: 800;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: var(--green);
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    margin-right: 60px;
}
.menu button{
    border: none;
}

.menu-item{
    background-color: white;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/* body styling */
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contact us styling */
.contact-us{
    padding: 80px 0px;
    background-color: var(--white);
    width: 97vw;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 3px grey;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-header{
    color: var(--green);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;

    margin-bottom: 20px;
}

.contact-us-form form{
    display: flex;
    flex-direction: column;
}



/* footer styling */
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.first-footer{
    display: flex;
    padding: 0px 60px;
    background-color: lightgrey;

    padding-top: 40px;
    padding-bottom: 40px;
}
.logo-about{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.short-footer-about{
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
    width: 90%;
    line-height: 26px;
}

.explore{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    min-width: 20vw;
}

.explore h1{
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.explore-item{
    background-color: lightgrey;
    border: none;
    cursor: pointer;

    font-size: 16px;
}

.explore-item:hover{
    font-size: 18px;
    color: var(--orange);
}
.email-phone{
    padding: 0px 35px;
}

.email-us{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.email-us p{
    font-size: 24px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.email-us a{
    text-decoration: none;
    color: var(--green);
    width: 102%;

    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-number{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.text-number p{
    font-size: 24px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.text-number a{
    text-decoration: none;
    color: var(--green);

    font-size: 28px;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.text-number a svg{
    margin-right: 8px;
}

.address-socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding-left: 35px;
    height: 15vh;
}

.address{
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.address a{
    text-decoration: none;
    color: black;
}

.socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.socials a{
    color: var(--orange);
}

.second-footer{
    width: 100vw;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 0px;
    
    display: flex;
    justify-content: center; 
}